@use "../foundations/fonts";
@use "../foundations/pixelated";
/*=============================================
=            	 	Button	  		          =
=============================================*/

.button {
	padding: 0.5rem 2rem;
	font-family: "summer_pixel_22regular", Arial, sans-serif;
	text-transform: uppercase;
}

.button:hover {
	cursor: pointer;
	background-color: #808080;
}

.button--large {
	font-size: 3rem;
	text-shadow: 0 0.25rem 0 #808080;
}

.button--medium {
	font-size: 2rem;
	text-shadow: 0 0.125rem 0 #808080;
}

.button--small {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	text-shadow: 0 0.125rem 0 #808080;
}
